doctype html
html(lang="en")
    head
        title="teploměr"
        script(src="/jquery/dist/jquery.min.js")
        script(src="/highcharts/highcharts.js")
        script(src="/highcharts/modules/exporting.js")
        script(src="/chart.js")
        style.
            body {
                background: #303032;
                padding: 0px;
                margin: 0px;
            }
            #container {
                width: 100%;
            }
        script.
            var first = true;
            var lastId = '#{lastId}';
            var update = function() {
                var chart = $('#container').highcharts();
                chart.showLoading('Aktualizuji data...');
                $.get('/api/' + lastId, function(newData) {
                    var data = [];
                    for (var i = 0; i < newData.length; i++) {
                        var d = new Date(newData[i].createdAt);
                        var item = [d.getTime(), parseFloat(newData[i].temp)];
                        data.push(item);
                    }
                    if (first) {
                        chart.series[0].setData(data);
                        first = false;
                    } else {
                        data.map(function(point) {
                            chart.series[0].data[0].remove();
                            chart.series[0].addPoint(point);
                        });
                    }
                    chart.hideLoading();

                    if (newData.length)
                        lastId = newData[newData.length - 1].id;
                });
            }
            $(function() {
                var resize = function() {
                    $('#container').css({ height: $(window).height() });
                };
                resize();
                $(window).resize(resize);
                setTimeout(function() {
                    update();
                }, 3000);
                setInterval(function() {
                    update();
                }, 30000);
            });
    body
        #container
